.search-form{
    width: 100%;
    max-width: 300px;
   
}
.search-form-elem{
    padding: 1.4rem 2.8rem;
    border-radius: 3.9rem;
}
.search-form-elem .form-control{
    font-size: 1.5rem;
    /* padding: 0.6rem; */
}
.search-form-elem .form-control::placeholder{
    opacity: 0.9;
}

.form-control{
    width: 100%;
    max-width: 300px;
}